details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.oneline{
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: .1em .20em;
}

.sum{
    font-weight: bold
}

div[data-sum="0"]{
    background-color: #C0C0C0;
}

.display-none{
    display: none;
}